body {
    display: flex;
    align-content: center;
    flex-direction: column;
    overflow-y: scroll;
    margin:0;
}
.image-container img {
    width: 100%;
    height: auto;
    display: block;
    margin:0%;
}
