@font-face {
    font-family: 'Anton';
    src: url('fonts/C:\Users\Administrator\Downloads\WD-CODE-TD21-Laderas-main\WD-CODE-TD21-Laderas-main\assets\fonts\Anton-Regular.ttf') format('truetype');
}
body {
    font-family: 'MyCustomFont', sans-serif;
}
@font-face {
    font-family: 'Reality Check';
    src: url('C:\Users\Administrator\Downloads\WD-CODE-TD21-Laderas-main\WD-CODE-TD21-Laderas-main\assets\fonts\Reality Check II DEMO.otf') format('truetype');
body {
    font-family: 'MyCustomFont', sans-serif;
}
